$headerC: rgb(44, 4, 44);
$navC: rgb(44, 4, 44);
$mainC: rgb(23, 18, 27);
$white: rgb(235, 235, 235);
$Lwhite: rgba(235, 235, 235, 0.6);
$black: rgb(5, 0, 19);

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: $mainC;
    font-family: 'Segoe UI', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: $white
}
p, h1, h2, h3, h4, h5, h6, a {
    padding: 0;
    margin: 0;
}
// header {
//     background-color: $headerC;
//     width: 100%;
//     display: flex;
//     justify-content: center;
//     flex-direction: row;
//     padding: 1.5em 0; 
//     color: $white;

//     p {
//         border-left: .0625em solid $white;
//         border-right: .0625em solid $white;
//         border-radius: .25em;
//         margin: .25em 0;
//         font-weight: 300;
//         font-size: 4em;
//         width: max-content;
//         margin: 0;
        
//     }
// }
main {
    display: flex;
    flex-direction: row;

}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $Lwhite;
    border-radius: 1em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $white;
}