.nav {
    width: 20%;
    background-color: rgb(44, 4, 44);
    padding: 0 1em 1em;
}

.nav nav {
    border-left: .25em solid rgb(235, 235, 235);
    border-right: .25em solid rgb(235, 235, 235);
    border-radius: 1em;
    height: calc(726px - 133px - 16px);
    color: rgb(235, 235, 235);
}

.item {
    padding: .5em 0;
    text-align: center;
    border-radius: .4em;
}

.item:hover {
    background-color: rgb(23, 18, 27);
}

.item a {
    font-size: 2em;
    font-weight: 300;
    color: #ffffff;
    text-decoration: none;
}